<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href ="{% static 'likelion/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div id="logo">
            <img src="#"/>
        </div>
        <ul class="right-nav">
            <li>HOME</li>
            <li>HSITORY</li>
            <li>PHOTO</li>
        </ul>
        <ol>

    </div>
    {% block contents%}
    {% endblock %}
</body>
</html>